if SHIELD_osman_azo

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "osman_azo"

config IQS5XX
    bool
    default y

# enable pointing
config ZMK_POINTING
    default y

config INPUT
    default y

endif
