#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define RAISE   1
#define LOWER   2

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC    &kp N1     &kp N2     &kp N3     &kp N4     &kp N5                                        &kp N6     &bt BT_CLR &kp N8     &kp N9     &kp N0     &kp BSPC
&kp TAB    &kp Q      &kp W      &kp E      &kp R      &kp T                                         &kp Y      &kp U      &kp I      &kp O      &kp P      &kp BSLH
&kp LALT   &kp A      &bt BT_CLR &kp D      &kp F      &kp G        &kp HOME   &kp LSHIFT &kp DEL    &kp H      &kp J      &kp K      &kp L      &kp DOT    &kp SQT
&kp LCTRL  &kp Z      &kp X      &kp C      &kp V      &kp B        &kp BSPC   &kp PG_UP  &kp PG_DN  &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH   &kp RALT
&kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &kp END    &bt BT_CLR   &kp PG_DN  &mo RAISE  &mo LOWER  &kp PG_DN  &kp MINUS  &kp EQUAL  &kp ENTER  &kp PIPE   &trans
            >;

            // Encoder bindings for default layer
            // Assuming encoder is on the left half and controls volume
            // Adjust these as needed based on your physical encoder placement and desired functionality
        };

        raise {
            bindings = <
&bt BT_SEL 0 &kp F1     &kp F2    &kp F3     &kp F4     &kp F5                                     &kp F6        &kp F7     &kp F8     &kp F9     &kp F10        &kp F11
&bt BT_NXT   &trans     &trans    &trans     &trans     &kp LBKT                                   &kp RBKT      &kp N7     &kp N8     &kp N9     &trans         &kp F12
&bt BT_PRV   &kp HOME   &kp PG_UP &kp PG_DN  &kp END    &kp LPAR   &trans     &trans    &trans     &kp RPAR      &kp N4     &kp N5     &kp N6     &kp MINUS      &kp PIPE
&bt BT_CLR   &trans     &trans    &trans     &trans     &sys_reset &trans     &trans    &bootloader &sys_reset    &kp N1     &kp N2     &kp N3     &kp FSLH       &kp UNDER
&trans       &trans     &trans    &kp PSCRN  &trans     &trans     &trans     &trans    &trans     &trans        &trans     &trans     &trans     &trans         &trans
            >;
        };

        lower {
            bindings = <
&kp GRAVE  &kp F1     &kp F2     &kp F3     &kp F4     &kp F5                                     &kp F6     &kp F7     &kp F8     &kp F9     &kp F10     &kp F11
&trans     &trans     &kp K_PREV &kp K_PP   &kp K_NEXT &kp C_VOL_UP                               &kp K_CALC &kp KP_NUM &kp INS    &kp SLCK   &trans      &kp F12
&trans     &kp LEFT   &kp UP     &kp DOWN   &kp RIGHT  &kp C_VOL_DN &trans     &trans    &trans   &trans     &kp H      &kp J      &kp K      &kp L       &trans
&trans     &trans     &trans     &trans     &trans     &kp C_MUTE   &trans     &trans    &trans   &trans     &trans     &trans     &trans     &trans      &trans
&trans     &trans     &trans     &trans     &trans     &trans       &trans     &trans    &trans   &trans     &trans     &trans     &trans     &trans      &trans
            >;
        };
    };
};


