#include <dt-bindings/zmk/matrix_transform.h>
#include "ahmedlearn.dtsi"

/ {
    aliases {
        trackpad = &trackpad;
    };

    physical_layout0 {
        kscan = <&kscan0>;
        transform = <&transform0>;
    };

    transform0: transform0 {
        compatible = "zmk,matrix-transform";
        columns = <2>;
        rows = <2>;
        map = <
            RC(0,0) RC(0,1)
            RC(1,0) RC(1,1)
        >;
    };

    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";

        col-gpios = <&gpio0 22 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   // Column 0
                  , <&gpio1 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;   // Column 1
        row-gpios = <&gpio0 24 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   // Row 0
                  , <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;  // Row 1
    };

    // Input listener for trackpad events
    trackpad_input_listener: trackpad_input_listener {
        compatible = "zmk,input-listener";
        device = <&trackpad>;
        status = "okay";

        // Map gesture mouse buttons to key positions in matrix
        // This maps special mouse buttons to virtual key positions
        // that can be handled in the keymap
        xy-swap;
        // input-processors = <&trackpad_gesture_processor>;
    };
};

// Enable GPIO controllers
&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};

&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;

    trackpad: trackpad@74 {
        compatible = "azoteq,iqs5xx";
        reg = <0x74>;
        dr-gpios = <&gpio1 6 GPIO_ACTIVE_HIGH>;
        status = "okay";

        // Optional enhancements
        sensitivity = <200>;
        refresh-rate-active = <3>;
        // no-taps;
        // invert-x;
    };
};
