#include <dt-bindings/zmk/matrix_transform.h>
#include "ahmedlearn.dtsi"


/ {
    physical_layout0 {
        kscan = <&kscan0>;
        transform = <&transform0>;
    };

    transform0: transform0 {
        compatible = "zmk,matrix-transform";
        columns = <1>;
        rows = <2>;
        map = <
            RC(0,0) RC(0,1)
        >;
    };

    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";

        col-gpios = <&pro_micro_d 4 GPIO_ACTIVE_HIGH>;
        row-gpios = <&pro_micro_d 5 GPIO_ACTIVE_HIGH>,
                    <&pro_micro_d 6 GPIO_ACTIVE_HIGH>;
    };
};

&i2c0 {
	compatible = "nordic,nrf-twi";
	sda-pin = <17>;
	scl-pin = <20>;

	status = "okay";

	trackpad: trackpad@74 {
        compatible = "azoteq,iqs5xx";
        label = "AZOTEQ_IQS5XX";
        status = "okay";
        reg = <0x74>;
        dr-gpios = <&gpio1 4 GPIO_ACTIVE_HIGH>;
	    };
    };
};
