#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
               &bt BT_CLR &bt BT_NXT
               &kp I &kp P
            >;

            // Add sensor bindings for trackpad gestures
            sensor-bindings = <
                &kp F3          // INPUT_BTN_SIDE -> F3 key (3-finger swipe up)
                &kp F4          // INPUT_BTN_EXTRA -> F4 key (3-finger swipe down)
                &kp LC(EQUAL)   // INPUT_BTN_FORWARD -> Ctrl+Plus (zoom in)
                &kp LC(MINUS)   // INPUT_BTN_BACK -> Ctrl+Minus (zoom out)
            >;
        };
    };
};
