#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
               &bt BT_CLR &bt BT_NXT &kp F3      &kp F4         // Row 0: Physical keys + Virtual F3/F4
               &kp I      &kp P      &kp LC(EQUAL) &kp LC(MINUS) // Row 1: Physical keys + Virtual zoom
            >;
        };
    };
};
