#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,mouse = &iqs5xx;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp A   &kp B
            >;
        };
    };
 };
